@model IEnumerable<LiveCode.Models.Mercury>

@{
    ViewBag.Title = "Index";
}

<h2>Mercury Measurments</h2>

<div class="ct-chart ct-perfect-fourth"></div>
<script>
        var data = {
        // A labels array that can contain any sort of values
        labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'],
        // Our series array that contains series objects or in this case series data arrays
        series: [
        [5, 2, 4, 2, 0]
        ]
        };

        // Create a new line chart object where as first parameter we pass in a selector
        // that is resolving to our chart container element. The Second parameter
        // is the actual data object.
        new Chartist.Line('.ct-chart', data);

</script>



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateTimeStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateTimeStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unit)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Mercury_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Mercury_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Mercury_Id })
        </td>
    </tr>
}

</table>
