@model IEnumerable<LiveCode.Models.Ozone>

@{
    ViewBag.Title = "Ozone";
}

@*Referencing jQuery and ChartJS in order to render the charts (the browser needs it to compile the scripts)*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


<h1>Chart.JS using JSON</h1>

@*Canvas (Will be referenced during the rendering via it's id)*@
<canvas id="canvas"></canvas><br />

<h1>Mixed chart with Mercury + Ozone</h1>

@*Canvas (Will be referenced during the rendering via it's id)*@
<canvas id="canvas2"></canvas>

@*The script (Javascript&jQuery together, the code to render the chart)*@
<script>

    //Two Arrays to hold the Json data
    var Yaxis = [];
    var Xaxis = [];

    //This function will be called later on Line141
    function drawLineChart() {

        //This is an AJAX call to the API to get the JSON
        $.ajaxSetup({
            async: false
        });

        $.ajax({
            url: 'http://sql2json.azurewebsites.net/api/Ozones',
            dataType: 'json',
            type: 'get',
            cache: true,
            //If the call successful, do the following:
            success: onSuccess,
            //In case of error do the this instead:
            error: onErrorCall
        });

        //The function to be fired in case of success
        function onSuccess(response) {
            //Foreach loop to push the values to the Array objects
            $(response).each(function (index, value) {
                Yaxis.push(value.ozone1);
                Xaxis.push(value.dateTimeStart);
            });
        }
        //In case of error put out an alertbox
        function onErrorCall(response) {
            alert('The server is too busy to serve your request, please try again later some time!');
        }

        // Create the chart.js data structure using 'labels' and 'data'

        //Hold this values in this variable 'tempdata'
        var tempData = {

            labels: Xaxis,
            datasets: [
                {
                    //CharrJS styling
                    label: "Ozone in ppb Units",
                    fill: true,
                    backgroundColor: "#4daab5",
                    borderColor: "#4daab5",
                    borderCapStyle: 'butt',
                    borderDash: [5, 5],
                    fillColor: "rgba(77, 170, 181, 0.43)",
                    strokeColor: "rgba(77, 170, 181, 1)",
                    pointColor: "rgba(77, 170, 181, 1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(77, 170, 181, 1)",

                    data: Yaxis
                }
            ]
        };

        // Get the context of the canvas element we want to select
        var canvas = document.getElementById("canvas").getContext("2d");

        // Instantiate a new chart
        var myChart = new Chart(canvas, {
            type: 'bar',
            data: tempData,
            options: {
                responsive: true,
                legend: {
                    position: 'bottom'
                },
                hover: {
                    mode: 'label'
                },
                animation: {
                    duration: 8000,
                    numSteps: 50
                },
                responsiveAnimationDuration: 4000,
                scales: {
                    xAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true,
                            steps: 1,
                            stepValue: 1,
                            max: 50
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true,
                            steps: 20,
                            stepValue: 2.5,
                            max: 50
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'ppb'
                        }
                    }]
                },
                title: {
                    display: true,
                    text: 'Line Chart'
                }
            }

        });

    }
    //Call the function finally to draw the chart:
    drawLineChart();


</script>

<script>

    //Three Arrays to hold the Json data
    var HgValues = [];
    var OzoneValues = [];
    var DateStamps = [];

    //This function will be called later on Line295
    function drawLineChart() {

        //This is an AJAX call to the API to get the JSON
        $.ajaxSetup({
            async: false
        });

        $.ajax({
            url: 'http://sql2json.azurewebsites.net/api/Ozones',
            dataType: 'json',
            type: 'get',
            cache: true,
            //If the call successful, do the following:
            success: onSuccess,
            //In case of error do the this instead:
            error: onErrorCall
        });


        //The function to be fired in case of success
        function onSuccess(response) {
            $(data).each(function (index, value) {
                OzoneValues.push(value.ozone1);
                DateStamps.push(value.dateTimeStart);

            });
        }
        //In case of error put out an alertbox
        function onErrorCall(response) {
            alert('The server is too busy to serve your request, please try again later some time!');
        }

        //Second AJAX CALL
        $.ajaxSetup({
            async: false
        });

        $.ajax({
            url: 'http://sql2json.azurewebsites.net/api/Mercuries',
            dataType: 'json',
            type: 'get',
            cache: true,
            //If the call successful, do the following:
            success: _onSuccess,
            //In case of error do the this instead:
            error: onErrorCall
        });

        //The function to be fired in case of success
        function _onSuccess(response) {
            //Foreach loop to push the values to the Array objects
            $(response).each(function (index, value) {
                HgValues.push(value.hg);
            });
        }
        //In case of error put out an alertbox
        function _onErrorCall(response) {
            alert('The server is too busy to serve your request, please try again later some time!');
        }


        // Create the chart.js data structure using 'labels' and 'data'

        //Hold this values in this variable 'tempdata'
        var tempData = {

            labels: DateStamps,
            datasets: [
                {
                    //CharrJS styling
                    label: "Ozone in ppb Units",
                    fill: true,
                    backgroundColor: "rgba(77, 170, 181, 0.43)",
                    borderColor: "rgba(77, 170, 181, 1)",
                    borderCapStyle: 'butt',
                    borderDash: [5, 5],
                    fillColor: "rgba(77, 170, 181, 0.43)",
                    strokeColor: "rgba(77, 170, 181, 1)",
                    pointColor: "rgba(77, 170, 181, 1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(77, 170, 181, 1)",
                    //Axis referencing
                    yAxisID: 'B',

                    data: HgValues
                },
                {
                    label: "Mercury in ng/m3 Units",
                    fill: true,
                    backgroundColor: "#eebcde",
                    borderColor: "#eebcde",
                    borderCapStyle: 'butt',
                    borderDash: [5, 5],
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    //Axis referencing
                    yAxisID: 'A',

                    data: OzoneValues
                }
            ]
        };

        // Get the context of the canvas element we want to select
        var canvas2 = document.getElementById("canvas2").getContext("2d");

        // Instantiate a new chart
        var myChart = new Chart(canvas2, {
            type: 'line',
            data: tempData,
            options: {
                responsive: true,
                legend: {
                    position: 'bottom'
                },
                hover: {
                    mode: 'label'
                },
                responsiveAnimationDuration: 4000,
                animation: {
                    duration: 8000,
                    numSteps: 500
                },
                scales: {
                    xAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true,
                            steps: 1,
                            stepValue: 1,
                            max: 500
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
                        id: 'A',
                        type: 'linear',
                        position: 'left'

                    }, {
                        id: 'B',
                        type: 'linear',
                        position: 'right',
                        ticks: {
                            min: 0,
                            max: 2
                        }

                    }]
                }
            }

        });

    }

    //Call the function finally to draw the chart:
    drawLineChart();

</script>




@*This is just scaffolded by asp.net web app, showing the measurements data in tables*@

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateTimeStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ozone1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ozone1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Ozone_Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Ozone_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Ozone_Id })
            </td>
        </tr>
    }

</table>
